.block {
  display: flex;
  justify-content: center;
  align-items: center;
   margin-top: 30px; 
   background-color: white;
   flex-direction: column;
   border-radius: 20px;
   height: 500px;
  }

.button {
  border-radius: 15px;
  background-color: #fe5f1e;
  font-size: 16px;
  padding: 20px 15px 20px 15px;
  margin-bottom: 30px;
  border: none;
  display: inline-block;

  a {
    color: white;
  }
}